#button
{
			display: inline-block;
			padding: 1.3em 3em;
			background: #004a80;
			border-radius: 25px;
			text-decoration: none;
			font-weight: 200;
			color: #FFF;
			border: 0px solid white;
			margin: auto;
			margin-top: 20px;
			display: block;
}

#body
{

}

#page
{

}

#header
{

}

#top
{

}

#sidebar1
{

}

#content
{

}

#clear
{

}

#footer
{

}
