#button
{
			display: inline-block;
			padding: 1.3em 3em;
			background: #004a80;
			border-radius: 25px;
			text-decoration: none;
			font-weight: 200;
			color: #FFF;
			border: 0px solid white;
			margin: auto;
			margin-top: 20px;
			display: block;
}

#body
{

}

#page
{
	
	margin: auto;
	background-color: #0066FF;
	
	border-radius: 12px;
	border-top: 4px groove #FFFFFF;
	border-left: 4px groove #FFFFFF;
	border-right: 4px ridge #FFFFFF;
	border-bottom: 4px ridge #FFFFFF;

	box-shadow: 8px 8px 20px black;
}

#header
{
	padding: 10px 0px 10px 0px;
	background-color: #004a80;
	border-radius: 5px 5px 5px 5px;
}

#top
{
	background-color: #004a80;
	border-radius: 5px 5px 5px 5px;
}

#sidebar1
{
	width: 150px;
	padding: 0px;
	background-color: #004a80; 
	background-repeat: repeat-y;
	border-radius: 5px 5px 5px 5px;
}

#content
{
	border-left: 5px solid #004a80;
	border-right: 5px solid #004a80;
	border-bottom: 5px solid #004a80;
	border-radius: 0px 0px 5px 5px;
}

#clear
{

}

#footer
{
	padding: 10px 0px 10px 0px;
	background-color: #004a80;
	border-radius: 5px 5px 5px 5px;
}
