#button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #004a80;
	border-radius: 25px;
	text-decoration: none;
	font-weight: 200;
	color: #FFF;
	border: 0px solid white;
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 150px;
	text-align: center;
}

#body
{

}

#page
{
	
	margin: auto;
	background-color: #f89c1f;
	border-radius: 12px;
	border-top: 4px groove #FFFFFF;
	border-left: 4px groove #FFFFFF;
	border-right: 4px ridge #FFFFFF;
	border-bottom: 4px ridge #FFFFFF;
	box-shadow: 8px 8px 20px black;
}

#header
{
	padding: 10px 0px 10px 0px;
	background-color: #f89c1f;
	border-radius: 5px 5px 5px 5px;
}

#top
{
	background-color: #004a80;
	border-radius: 5px 5px 5px 5px;
}

#menu
{
	background-color: #000000;
	text-align: right;
}

div#menu a:link, div#menu a:visited
{
	color: #BBBBBB;
	text-decoration: none;
}

div#menu a:hover
{
	color: #FFFFFF;
}

div#menu ul
{
	margin: 0px;
	padding: 0px 0px;
    	border-bottom: 10px solid #808080;
}


div#menu .current_page
{
	background-color: #808080;
}

div#menu li
{
	width: 125px;
	margin: 0px 0px;
	padding: 5px;
	background-color: #646464;
	border-radius: 20px 20px 0px 0px;
	display: inline-block;
	text-shadow: 1px 1px 3px #000000;
	text-align: center;
}

#sidebar1
{

}

#sidebar2
{

}

#content
{
	border-left: 5px solid #004a80;
	border-right: 5px solid #004a80;
	border-bottom: 5px solid #004a80;
	border-radius: 0px 0px 5px 5px;
}

#clear
{

}

#footer
{
	padding: 10px 0px 10px 0px;
	background-color: #004a80;
	border-radius: 5px 5px 5px 5px;
}

#table-vis
{
	margin-left: 200px;
	color: #444444;
	width: 100px;
	padding-bottom: 100px;
}

#table-content
{
	width: 100%;
	min-height: 300px;
	table-layout: fixed;
	border-collapse: collapse;
}
